<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seamfix.smartmdmbroadcaster">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service android:enabled="true"
            android:stopWithTask="false"
            android:name=".BroadcastService" />

        <receiver android:name=".Broadcaster"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.seamfix.DEVICE_IDENTIFIERS"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>